.ap-saveEnabled{
  border: 1px solid #111827;
  padding: 10px 16px;
  border-radius: 8;
  background-color: rgba(255, 255, 6);
  color: white;
  cursor: pointer;
  font-weight: 600;
  transition: all .3s ease;
}
.ap-saveEnabled:hover{
  border: 1px solid rgba(255, 255, 6);
  padding: 10px 16px;
  border-radius: 8;
  background-color: rgba(255, 255, 6);
  transition: all .3s ease;
}
.ap-saveDisabled{
  border: 1px solid #d1d5db;
  padding: 10px 16px;
  border-radius: 8;
  background-color: #9ca3af;
  color: white;
  cursor: not-allowed;
  font-weight: 600;
  opacity: 0.9;
}
